<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>MoneyBag | {% block title %} {% endblock %}</title>
    {% load staticfiles %}

    <!-- Favicon-->
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    {% load compress %}
    {% compress css %}
        <!-- Bootstrap Core Css -->
        <link href="{% static 'libs/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <!-- Bootstrap Select Css -->
        <link href="{% static 'libs/select2/select2.min.css' %}" rel="stylesheet" />

        <!-- Waves Effect Css -->
        <link href="{% static 'libs/node-waves/waves.css' %}" rel="stylesheet" />

        <!-- Animation Css -->
        <link href="{% static 'libs/animate-css/animate.css' %}" rel="stylesheet" />

        <!-- Morris Chart Css-->
        <link href="{% static 'libs/morrisjs/morris.css' %}" rel="stylesheet" />
        <!-- Custom Css -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/themes/theme-light-blue.min.css' %}" rel="stylesheet" />
        <!-- child page css -->
        {% block child_page_css %}

        {% endblock %}
    {% endcompress %}
</head>

<body class="theme-light-blue">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="index.html">MoneyBag - <small>Manage honey in your pocket</small></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                <!-- Notifications -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="material-icons">notifications</i>
                        <span class="label-count">7</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">NOTIFICATIONS</li>
                        <li class="body">
                            <ul class="menu">
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-light-green">
                                            <i class="material-icons">person_add</i>
                                        </div>
                                        <div class="menu-info">
                                            <h4>12 new members joined</h4>
                                            <p>
                                                <i class="material-icons">access_time</i> 14 mins ago
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-cyan">
                                            <i class="material-icons">add_shopping_cart</i>
                                        </div>
                                        <div class="menu-info">
                                            <h4>4 sales made</h4>
                                            <p>
                                                <i class="material-icons">access_time</i> 22 mins ago
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-red">
                                            <i class="material-icons">delete_forever</i>
                                        </div>
                                        <div class="menu-info">
                                            <h4><b>Nancy Doe</b> deleted account</h4>
                                            <p>
                                                <i class="material-icons">access_time</i> 3 hours ago
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-orange">
                                            <i class="material-icons">mode_edit</i>
                                        </div>
                                        <div class="menu-info">
                                            <h4><b>Nancy</b> changed name</h4>
                                            <p>
                                                <i class="material-icons">access_time</i> 2 hours ago
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-blue-grey">
                                            <i class="material-icons">comment</i>
                                        </div>
                                        <div class="menu-info">
                                            <h4><b>John</b> commented your post</h4>
                                            <p>
                                                <i class="material-icons">access_time</i> 4 hours ago
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-light-green">
                                            <i class="material-icons">cached</i>
                                        </div>
                                        <div class="menu-info">
                                            <h4><b>John</b> updated status</h4>
                                            <p>
                                                <i class="material-icons">access_time</i> 3 hours ago
                                            </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle bg-purple">
                                            <i class="material-icons">settings</i>
                                        </div>
                                        <div class="menu-info">
                                            <h4>Settings updated</h4>
                                            <p>
                                                <i class="material-icons">access_time</i> Yesterday
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="javascript:void(0);">View All Notifications</a>
                        </li>
                    </ul>
                </li>
                <!-- #END# Notifications -->

            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="{% static 'images/user.png' %}" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user }}</div>
                <div class="email">{{ request.user.email }}</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                        <li role="seperator" class="divider"></li>
                        <li role="seperator" class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="material-icons">input</i>Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li {% if request.resolver_match.view_name  == "dashboard" %}class="active" {% endif %}>
                    <a href="{% url 'dashboard' %}">
                        <i class="material-icons">home</i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li {% if request.resolver_match.view_name  == "head.add_ledger" or request.resolver_match.view_name  == "head.all" %}class="active" {% endif %}>
                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="material-icons">assignment</i>
                        <span>Account Heads</span>
                    </a>
                    <ul class="ml-menu" style="display: none;">
                        <li {% if request.resolver_match.view_name  == "head.add_ledger" %}class="active" {% endif %}>
                            <a href="{% url 'head.add_ledger' %}" class=" waves-effect waves-block">Add Ledger Head</a>
                        </li>
                        <li {% if request.resolver_match.view_name  == "head.all" %}class="active" {% endif %}>
                            <a href="{% url 'head.all' %}" class=" waves-effect waves-block">Heads</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2017 <a href="{% url 'login' %}">MoneyBag</a>.
            </div>
            <div class="version">
                <b>Version: </b> 0.1 Beta
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->

</section>


<!-- child page -->
{% block childPage %}

{% endblock %}
<!-- end child page -->


{% compress js %}
    <!-- Jquery Core Js -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.js' %}"></script>
    <!-- Bootstrap notification plugin-->
    <script src="{% static 'libs/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{% static 'libs/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'libs/node-waves/waves.js' %}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static 'libs/jquery-countto/jquery.countTo.js' %}"></script>

    <!-- Morris Plugin Js -->
    <script src="{% static 'libs/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'libs/morrisjs/morris.min.js' %}"></script>

    <!-- ChartJs -->
    <script src="{% static 'libs/chartjs/Chart.bundle.js' %}"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="{% static 'libs/flot-charts/jquery.flot.js' %}"></script>
    <script src="{% static 'libs/flot-charts/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'libs/flot-charts/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'libs/flot-charts/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'libs/flot-charts/jquery.flot.time.js' %}"></script>
    <!-- Validation Plugin Js -->
    <script src="{% static 'libs/jquery-validation/jquery.validate.js' %}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static 'libs/jquery-sparkline/jquery.sparkline.js' %}"></script>
    <!-- Select Plugin Js -->
    <script src="{% static 'libs/select2/select2.min.js'%}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/admin.js' %}"></script>
    <script src="{% static 'js/generic.js' %}"></script>
    <script src="{% static 'js/gate.js' %}"></script>

    //message notification
    <script>
        jQuery(document).ready(function() {
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'info'  %}
                        showNotification("bg-teal", '{{ message }}', 'top', 'right', 'animated zoomInRight', 'animated zoomOutRight');
                    {% endif %}

                    {% if message.tags == 'error' %}
                        showNotification("bg-red", '{{ message }}', 'top', 'right', 'animated zoomInRight', 'animated zoomOutRight');

                    {% endif %}
                    {% if message.tags == 'warning' %}
                        showNotification("bg-orange", '{{ message }}', 'top', 'right', 'animated zoomInRight', 'animated zoomOutRight');

                    {% endif %}
                {% endfor %}
            {% endif %}
        });
    </script>

    <!-- child page js -->
    {% block child_page_js %}

    {% endblock %}

{% endcompress %}

</body>

</html>