<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>MoneyBag | {% block title %} {% endblock %}</title>
    {% load staticfiles %}

    <!-- Favicon-->
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    {% load compress %}
    {% compress css %}
        <!-- Bootstrap Core Css -->
        <link href="{% static 'libs/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <!-- Bootstrap date time picker Css -->
        <link href="{% static 'libs/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />
        <!-- Bootstrap Select Css -->
        <link href="{% static 'libs/select2/select2.min.css' %}" rel="stylesheet" />

        <!-- Waves Effect Css -->
        <link href="{% static 'libs/node-waves/waves.css' %}" rel="stylesheet" />

        <!-- Animation Css -->
        <link href="{% static 'libs/animate-css/animate.css' %}" rel="stylesheet" />

        <!-- Morris Chart Css-->
        <link href="{% static 'libs/morrisjs/morris.css' %}" rel="stylesheet" />
        <!-- bootstrap datatable Css-->
        <link href="{% static 'libs/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" />
        <!-- Custom Css -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/themes/theme-light-blue.min.css' %}" rel="stylesheet" />
        <!-- child page css -->
        {% block child_page_css %}

        {% endblock %}
    {% endcompress %}
</head>

<body class="theme-light-blue">
<!-- Page Loader -->
<div class="page-loader-wrapper no-print">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Top Bar -->
<nav class="navbar no-print">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="index.html">MoneyBag - <small>Manage honey in your pocket</small></a>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section class="no-print">
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar no-print">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="{% static 'images/user.png' %}" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user }}</div>
                <div class="email">{{ request.user.email }}</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="{% url 'change_password' %}"><i class="material-icons">settings</i>Change Password</a></li>
                        <li role="seperator" class="divider"></li>
                        <li role="seperator" class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="material-icons">input</i>Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li {% if request.resolver_match.view_name  == "dashboard" %}class="active" {% endif %}>
                    <a href="{% url 'dashboard' %}">
                        <i class="material-icons">home</i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li {% if request.resolver_match.view_name  == "head.add_ledger" or request.resolver_match.view_name  == "head.all" or request.resolver_match.view_name  == "head.add_payment" %}class="active" {% endif %}>
                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="material-icons">assignment</i>
                        <span>Account Heads</span>
                    </a>
                    <ul class="ml-menu" style="display: none;">
                        <li {% if request.resolver_match.view_name  == "head.add_ledger" %}class="active" {% endif %}>
                            <a href="{% url 'head.add_ledger' %}" class=" waves-effect waves-block">Add Ledger Head</a>
                        </li>
                        <li {% if request.resolver_match.view_name  == "head.add_payment" %}class="active" {% endif %}>
                            <a href="{% url 'head.add_payment' %}" class=" waves-effect waves-block">Add Payment Head</a>
                        </li>
                        <li {% if request.resolver_match.view_name  == "head.all" %}class="active" {% endif %}>
                            <a href="{% url 'head.all' %}" class=" waves-effect waves-block">Heads</a>
                        </li>
                    </ul>
                </li>
                <li {% if request.resolver_match.view_name  == "voucher.add" or request.resolver_match.view_name  == "voucher.details" or request.resolver_match.view_name  == "acc-voucher.add"%}class="active" {% endif %}>
                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="material-icons">event_note</i>
                        <span>Voucher</span>
                    </a>
                    <ul class="ml-menu" style="display: none;">
                        <li {% if request.resolver_match.view_name  == "voucher.add" and voucher_type == '6' %}class="active" {% endif %}>
                            <a href="{% url 'voucher.add' 6 %}" class=" waves-effect waves-block">Add Recipt Voucher</a>
                        </li>
                        <li {% if request.resolver_match.view_name  == "voucher.add" and voucher_type == '5' %}class="active" {% endif %}>
                            <a href="{% url 'voucher.add' 5 %}" class=" waves-effect waves-block">Add Payment Voucher</a>
                        </li>
                     <li {% if request.resolver_match.view_name  == "acc-voucher.add" and voucher_type == '3' %}class="active" {% endif %}>
                            <a href="{% url 'acc-voucher.add' 3 %}" class=" waves-effect waves-block">Journal Voucher</a>
                        </li>
                        <li {% if request.resolver_match.view_name  == "acc-voucher.add" and voucher_type == '4' %}class="active" {% endif %}>
                            <a href="{% url 'acc-voucher.add' 4 %}" class=" waves-effect waves-block">Contra Voucher</a>
                        </li>

                    </ul>
                </li>
             <li {% if request.resolver_match.view_name  == "report.transactions" or request.resolver_match.view_name  == "report.incomes" or request.resolver_match.view_name  == "report.ledger"%}class="active" {% endif %}>
                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                        <i class="material-icons">insert_drive_file</i>
                        <span>Reports</span>
                    </a>
                    <ul class="ml-menu" style="display: none;">
                        <li {% if request.resolver_match.view_name  == "report.transactions" %}class="active" {% endif %}>
                            <a href="{% url 'report.transactions' %}" class=" waves-effect waves-block">Transaction Statement</a>
                        </li>
                        <li {% if request.resolver_match.view_name  == "report.incomes"%}class="active" {% endif %}>
                            <a href="{% url 'report.incomes'%}" class=" waves-effect waves-block">Income Statement</a>
                        </li>
                        <li {% if request.resolver_match.view_name  == "report.ledger"%}class="active" {% endif %}>
                            <a href="{% url 'report.ledger'%}" class=" waves-effect waves-block">Ledger Statement</a>
                        </li>


                    </ul>
                </li>

            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2017 <a href="{% url 'login' %}">MoneyBag</a>.
            </div>
            <div class="version">
                <b>Version: </b> 0.1 Beta
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->

</section>


<!-- child page -->
{% block childPage %}

{% endblock %}
<!-- end child page -->


{% compress js %}
    <!-- Jquery Core Js -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'libs/bootstrap/js/bootstrap.js' %}"></script>
    <!-- Bootstrap notification plugin-->
    <script src="{% static 'libs/bootstrap-notify/bootstrap-notify.min.js' %}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="{% static 'libs/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'libs/node-waves/waves.js' %}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static 'libs/jquery-countto/jquery.countTo.js' %}"></script>

    <!-- Morris Plugin Js -->
    <script src="{% static 'libs/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'libs/morrisjs/morris.min.js' %}"></script>

    <!-- ChartJs -->
    <script src="{% static 'libs/chartjs/Chart.bundle.js' %}"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="{% static 'libs/flot-charts/jquery.flot.js' %}"></script>
    <script src="{% static 'libs/flot-charts/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'libs/flot-charts/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'libs/flot-charts/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'libs/flot-charts/jquery.flot.time.js' %}"></script>
    <!-- Validation Plugin Js -->
    <script src="{% static 'libs/jquery-validation/jquery.validate.js' %}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static 'libs/jquery-sparkline/jquery.sparkline.js' %}"></script>
    <!-- Select Plugin Js -->
    <script src="{% static 'libs/select2/select2.min.js'%}"></script>

    <script src="{% static 'libs/momentjs/moment.js'%}"></script>
    <!-- date time picker Plugin Js -->
    <script src="{% static 'libs/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js'%}"></script>
      <!-- datatable Plugin Js -->
    <script src="{% static 'libs/jquery-datatable/jquery.dataTables.js'%}"></script>
    <script src="{% static 'libs/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.min.js'%}"></script>

    <!-- Custom Js -->
    <script src="{% static 'js/admin.js' %}"></script>
    <script src="{% static 'js/generic.js' %}"></script>
    <script src="{% static 'js/gate.js' %}"></script>
    <script>
        jQuery(document).ready(function() {
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'info'  %}
                        showNotification("bg-teal", '{{ message }}', 'top', 'right', 'animated zoomInRight', 'animated zoomOutRight');
                    {% endif %}

                    {% if message.tags == 'error' %}
                        showNotification("bg-red", '{{ message }}', 'top', 'right', 'animated zoomInRight', 'animated zoomOutRight');

                    {% endif %}
                    {% if message.tags == 'warning' %}
                        showNotification("bg-orange", '{{ message }}', 'top', 'right', 'animated zoomInRight', 'animated zoomOutRight');

                    {% endif %}
                {% endfor %}
            {% endif %}
        });
    </script>

    <!-- child page js -->
    {% block child_page_js %}

    {% endblock %}

{% endcompress %}

</body>

</html>