{% extends "base/frontend_master.html" %}

{% block title %} Sign-up {% endblock %}

{% block childPage %}
    <div class="signup-page">
        <div class="signup-box">
            <div class="logo">
                <a href="javascript:void(0);">Money<b>Bag</b></a>
                <small>Manage honey in your pocket</small>
            </div>
            <div class="card">
                <div class="body">
                    <form id="sign_up" {% url 'register' %}  method="POST">  {% csrf_token %}
                        {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="msg">Register a new membership</div>
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                            <div class="form-line">
                                <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
                            </div>
                        </div>
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                            <div class="form-line">
                                <input type="email" class="form-control" name="email" placeholder="Email Address" required>
                            </div>
                        </div>
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                            <div class="form-line">
                                <input type="password" class="form-control" name="password" minlength="6" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                            <div class="form-line">
                                <input type="password" class="form-control" name="confirm_password" minlength="6" placeholder="Confirm Password" required>
                            </div>
                        </div>
                        {#                        <div class="form-group">#}
                        {#                            <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-pink">#}
                        {#                            <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>#}
                        {#                        </div>#}

                        <button class="btn btn-block btn-lg bg-light-blue waves-effect" type="submit">SIGN UP</button>

                        <div class="m-t-25 m-b--5 align-center">
                            <a href="{% url 'login' %}">You already have a membership?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block child_page_js %}
    <script>
        $( document ).ready(function() {
            Gate.signUpValidation();
        });
    </script>
{% endblock %}



