{% extends "base/frontend_master.html" %}

{% block title %} Thanks{% endblock %}

{% block childPage %}
    <div class="four-zero-four">
    <div class="four-zero-four-container">
        <div class="error-code" style="font-size: 40px !important;">Thank you for joining! Please don't forget your master password.If you forget you can't access your data.</div>
        <div class="error-code" style="font-size: 40px !important;">*** Memories your passwords or write down somewhere safe. ****</div>
        <div class="button-place">
            <a href="/" class="btn bg-cyan btn-lg waves-effect">Login Here</a>
        </div>
    </div>
{% endblock %}



